# Core functionality - changes here should be rare!
/src/app.py                   @Codeonomy
/src/backend/database.py      @Codeonomy
/src/backend/routers/auth.py  @Codeonomy

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Codeonomy
